@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-neutral-50
}

@layer components {
    video {
        @apply rounded-2xl
    }
}

.notion-asset-wrapper img  {
    @apply rounded-2xl !important
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 0.6;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes spinAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*ANIMATION*/
.scaleAnimate {
    animation: scaleAnimation 3s linear infinite;
}

.spinner {
    animation: spinAnimation 4s linear infinite;
}
